<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-page="/Index">Home</a>
        <a asp-page="/Products">Products</a>
        <a asp-page="/BSM_Workshop/CreateProducts">Create Products</a>
        <a asp-page="/BSM_Workshop/ManageProducts">Manage Products</a>
        @RenderBody()
    </div>
</body>
</html>
