@page
@model BSM_Disrupt_Prototype.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";

    string test = "I see trees are green."; // Example of what you can do on a razor page.
}

<h1>Index</h1>
<h2>test name: @test</h2>
<img src="~/IMAGES/BSM-Logo-500.png" />